// Size modifiers for state-toggle buttons
.state-toggle.small {
    .toggle-option button {
        width: 20px;
        height: 20px;
    }
}

.state-toggle.medium {
    .toggle-option button {
        width: 30px;
        height: 30px;
    }
}

.state-toggle.large {
    .toggle-option button {
        width: 40px;
        height: 40px;
    }
}

.state-toggle.xlarge {
    .toggle-option button {
        width: 60px;
        height: 60px;
    }
}

// Gap size modifiers for state-toggle
.state-toggle.gap-small {
    gap: 10px;
}

.state-toggle.gap-medium {
    gap: 20px;
}

.state-toggle.gap-large {
    gap: 40px;
}

.state-toggle.gap-xlarge {
    gap: 60px;
}

// Corner Modfiers Rounded
.state-toggle.rounded {
    border-radius: 20px;
}

.state-toggle.rounded.small {
    border-radius: 20px;
}

.state-toggle.rounded.medium {
    border-radius: 25px;
}

.state-toggle.rounded.large {
    border-radius: 30px;
}

.state-toggle.rounded.xlarge {
    border-radius: 35px;
}

// Theme modfiers
.state-toggle.dark-mode {
    background-color: hsl(0, 10%, 10%);
}

.state-toggle.light-mode {
    background-color: hsl(0, 10%, 90%);
}

.state-toggle {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: transparent;
    margin: 3px;
    width:max-content;
    gap: 10px;
    .toggle-option{
        input[type="radio"]{
            display: none;
        }
        label{
            display: none;
        }

        button {
            width:20px;
            height: 20px;
            border-radius: 50%;
            --button-color-lightness: 25%;
            --button-color-hue: 120;
            --button-color-saturation: 100%;
            background: hsl(var(--button-color-hue), var(--button-color-saturation), var(--button-color-lightness));
            border: none;
            box-shadow: none;
        }

        input[type="radio"]:checked + label + button {
            --button-color-lightness: 50%;
        }

        button.red {
            --button-color-hue: 0;
        }

        button.green {
            --button-color-hue: 120;
        }

        button.blue {
            --button-color-hue: 240;
        }

        button.yellow {
            --button-color-hue: 60;
        }

        button.orange {
            --button-color-hue:30;
        }


    }
}

// Automanic Coloring of buttons
.state-toggle.auto-color {
    .toggle-option:first-child{
        button{
            --button-color-hue: 0;
        }
    }

    .toggle-option:nth-child(2){
        button {
            --button-color-hue: 60;
        }
    }

    .toggle-option:last-child{
        button {
            --button-color-hue: 120;
        }
    }
}
// Color modifiers for state-toggle buttons
.state-toggle.red-color {
    .toggle-option button {
        --button-color-hue: 0;
    }
}

.state-toggle.green-color {
    .toggle-option button {
        --button-color-hue: 120;
    }
}

.state-toggle.blue-color {
    .toggle-option button {
        --button-color-hue: 240;
    }
}

.state-toggle.yellow-color {
    .toggle-option button {
        --button-color-hue: 60;
    }
}

.state-toggle.orange-color {
    .toggle-option button {
        --button-color-hue: 30;
    }
}

// Grey scale color mode
.state-toggle.grey-scale {
    .toggle-option button{
        --button-color-saturation: 0%;
        --button-color-hue:240;
        --button-color-lightness: 50%;
    }

    input[type="radio"]:checked + label + button {
        --button-color-lightness: 100%;
    }

}